{% extends "base_generic.html" %}

{% block content %}
<h1>Author: {{ author.first_name }} {{ author.last_name }}</h1>
<p>{{author.date_of_birth}}</p>

 <div style="margin-left:20px;margin-top:20px">
     <h5>Books</h5>
     {% if books %}
         {% for book in books %}
            {% if book.author.id == author.id %}
                <p><a href="{% url 'book-detail' book.id %}"> {{ book.title }}</a> </p>
            {% endif %}
         {% endfor %}

     {% else %}
        <p>khoong co book</p>
     {% endif %}
 </div>
{% endblock %}